/* GLOBAL / REUSABLE */

h1 { font-size: 3rem; }
h2 { font-size: 2rem; margin-top: 1rem; }

.container {
    width: 80%;
    background-color: rgb(238, 238, 238);
    margin: 0 auto;
    margin-top: 3rem;
    padding: 2rem;
    text-align: center;
}

/* SCORING */
.score-container {
    width: 100%;
}

.score-box {
    width: 25%;
    display: inline-block;
    padding: .5rem;
    margin: .5rem;
    background-color: rgb(209, 209, 209);
}

.used-letters {
    width: auto;
    display: block;
}


/* TESTING OBJECTS */

.random-letter {
    font-size: 2rem;
}