/* GLOBAL / TYPOGRAPHY */

body {
    background-image: linear-gradient(to right top, #845ec2, #b45cb6, #d65fa5, #ed6993, #fa7a82, #ff8977, #ff9a6e, #ffac69, #ffbe66, #ffd166, #ffe469, #f9f871); 
    height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 { font-size: 3rem; }
h2 { font-size: 2rem; margin-top: 1rem; }

.container {
    width: 70%;
    background-color: rgba(238, 238, 238, 0.411);
    margin: 0 auto;
    margin-top: 9%;
    padding: 2rem;
    text-align: center;
    border-radius: 5px;
}

.half-arrow { font-size: 2rem; }

/* SCORING */
.score-container {
    width: 100%;
}

.score-box {
    width: 25%;
    padding: 1rem 0;
    margin-bottom: 1.5rem;
    display: inline-block;
    background-color: rgba(241, 241, 241, 0.479);
    border-radius: 5px;
}

.used-letters {
    width: 50%;
    display: block;
    margin: 0 auto;
    font-size: 1.5rem;
    letter-spacing: 15px;
    margin-top: .6rem;
}

/* DOM MESSAGE */

.message-box {
    width: 50%;
    padding: 1rem 0;
    margin-bottom: 1.5rem;
    display: inline-block;
    background-color: rgba(241, 241, 241, 0.479);
    border-radius: 5px;
}

.message { font-size: 1.5rem; }


/* TESTING OBJECTS */

.random-letter {
    font-size: 2rem;
}

.letter-test { display: none; }
