/* GLOBAL / TYPOGRAPHY */

h1 { font-size: 3rem; }
h2 { font-size: 2rem; margin-top: 1rem; }

.container {
    width: 80%;
    background-color: rgb(238, 238, 238);
    margin: 0 auto;
    margin-top: 3rem;
    padding: 2rem;
    text-align: center;
}

.half-arrow { font-size: 2rem; }

/* SCORING */
.score-container {
    width: 100%;
}

.score-box {
    width: 25%;
    padding: 1rem 0;
    margin-bottom: 1.5rem;
    display: inline-block;
    background-color: rgb(209, 209, 209);
}

.used-letters {
    width: 33%;
    display: block;
    margin: 0 auto;
}

/* DOM MESSAGE */

.message-box {
    width: 25%;
    padding: 1rem 0;
    margin-bottom: 1.5rem;
    display: inline-block;
    background-color: rgb(209, 209, 209);
}


/* TESTING OBJECTS */

.random-letter {
    font-size: 2rem;
}

.letter-test { display: none; }
